pandas==1.3.4
beautifulsoup4
gcloud==0.18.3
scrapy==2.10.1
scrapy_user_agents
pytz==2024.1
google-cloud-bigquery==3.20.1
scrapy-rotating-proxies==0.6.2
fsspec==2022.8.2
gcsfs==2022.8.2
pyopenssl==24.1.0